<!DOCTYPE html>
<html>
<head>
    <title>Login - Sistema K9</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-premium-bg">

<div class="login-premium-wrapper">

    <div class="login-premium-card">

        <!-- LOGO -->
        <img src="https://i.imgur.com/IlLxK0b.png" class="login-premium-logo" alt="Logo K9">

        <h1 class="login-premium-title">Sistema K-9</h1>
        <p class="login-premium-subtitle">Control Corporativo de Acceso</p>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <input class="form-control-premium" type="email" name="email" placeholder="Correo corporativo" required>
            <input class="form-control-premium" type="password" name="password" placeholder="Contraseña" required>

            <button type="submit" class="login-premium-btn">Ingresar</button>
        </form>

    </div>

</div>

</body>
</html>

