<!DOCTYPE html>
<html>
<head>
    <title>Login - K9</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-card">
    
    <!-- LOGO -->
    <img src="https://i.imgur.com/IlLxK0b.png" alt="Logo K9" width="100" style="margin-bottom: 15px;">

    <h2 class="login-title">Acceso al Sistema K9</h2>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input class="form-control" type="email" name="email" placeholder="Correo electrónico" required>

        <input class="form-control" type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Ingresar</button>
    </form>
</div>

</body>
</html>


