<!DOCTYPE html>
<html>
<head>
    <title>Login - Sistema K9</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-premium-bg">

<canvas id="particles"></canvas>

<div class="login-premium-wrapper">

    <div class="login-premium-card">

        <img src="{{ url_for('static', filename='logo_k9.png') }}" class="login-premium-logo">

        <h1 class="login-premium-title">Sistema K-9</h1>
        <p class="login-premium-subtitle">Control Corporativo de Acceso</p>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">

            <input class="form-control-premium" type="email" name="email" placeholder="Correo" required>

            <div class="password-container">
                <input class="form-control-premium" type="password" name="password" id="password" placeholder="Contraseña" required>
                <span class="toggle-pass" onclick="togglePassword()">👁</span>
            </div>

            <button type="submit" class="login-premium-btn">Ingresar</button>
        </form>

    </div>

</div>

<script>
function togglePassword() {
    let p = document.getElementById("password");
    p.type = p.type === "password" ? "text" : "password";
}
</script>

</body>
</html>



