/* ================= DASHBOARD ================= */

.dashboard {
  display: flex;
  height: 100vh;
}

/* MENU LATERAL */
.sidebar {
  width: 240px;
  background: var(--color-primary-bg);
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-accent);
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  font-size: 16px;
}

.sidebar a:hover {
  background: var(--color-accent);
}

/* AREA PRINCIPAL */
.main {
  flex: 1;
  background: var(--color-bg);
  padding: 30px;
}

.main h1 {
  color: var(--color-primary-bg);
  margin-bottom: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

